body,
html {
    font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background-image: url(layout/bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 250px;
}
