.lessons-dashboard-container {
    width: 100%;
    min-height: 60vh;
    background-color: var(--color-primary-bg);
    color: var(--color-primary-text);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.lessons-dashboard-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

.lesson-add-button {
    background-color: rgb(0, 204, 255);
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.lesson-add-button:hover {
    background-color: rgb(0, 174, 255);
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.lessons-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.lesson-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-third-bg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 50px;
    margin-bottom: 1px;
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
}

.lesson-item:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    transform: translate(-5px);
    background-color: var(--color-primary-bg);
}

.lesson-info {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-part {
    margin-right: 20px;
}

.lesson-name {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.date-part {
    display: flex;
    gap: 20px;
}

.lesson-created-at,
.lesson-updated-at {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.lesson-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.lesson-edit-button,
.lesson-delete-button {
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 42px;
    height: 42px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lesson-edit-button {
    background-color: rgb(58, 204, 0);
    border: none;
}

.lesson-edit-button:hover {
    background-color: rgb(121, 255, 68);
    transform: translateY(-2px);
}

.lesson-delete-button {
    background-color: rgb(255, 0, 0);
    border: none;
}

.lesson-delete-button:hover {
    background-color: rgb(255, 120, 120);
    transform: translateY(-2px);
}

.lesson-icon {
    width: 32px;
    height: auto;
}

.no-lessons-container {
    text-align: center;
    padding: 20px;
}

.no-lessons-container .back-button {
    background-color: rgb(0, 204, 255);
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding: 8px 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.no-lessons-container .back-button:hover {
    background-color: rgb(0, 174, 255);
}

@media screen and (max-width: 780px) {
    .lesson-item {
        padding: 10px 30px;
    }

    .lesson-actions {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .lesson-item {
        padding: 10px 20px;
    }

    .lesson-info {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media screen and (max-width: 410px) {
    .lesson-item {
        padding: 10px 10px;
        flex-direction: column;
    }

    .lesson-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .lesson-actions {
        flex-direction: row;
    }
}
