/* Header Section */
.layout-container header {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--color-third-bg);
    display: flex;
    justify-content: center;
}

.header-content {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-third-bg);
}

.image-button-homepage {
    width: 150px;
    height: 64px;
    padding: 5px 0;
    cursor: pointer;
    background-image: url('/layout/icon-elearning-full.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    transition: transform 0.3s ease;
}

.layout-container header ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.layout-container header ul li {
    margin: 0 18px;
    padding: 5px;
    border-radius: 8px;
    text-wrap: nowrap;
}

.layout-container header ul li a {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-primary-text);
    text-decoration: none;
}

.layout-container header ul li:hover {
    cursor: pointer;
    scale: 1.1;
}

.layout-container header ul li a:hover {
    color: var(--color-text-hover);
    text-decoration: underline;
}

#login-btn {
    color: #0004ff;
}

#login-btn:hover {
    color: #07f;
}

/* Menu Toggle Button */
.image-button-menu-toggle {
    display: none;
    width: 64px;
    height: 32px;
    cursor: pointer;
    background-image: url('/layout/icon-menu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    transition: transform 0.3s ease;
}

@media (width <= 780px) {
    .nav-bar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: var(--color-primary-bg);
        border-radius: 8px;
        z-index: 1000;
    }

    .nav-bar.open {
        display: flex;
    }

    .nav-bar ul {
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: right;
    }

    .nav-bar.open ul li a {
        padding: 5px 20px;
        font-size: 18px;
    }

    .image-button-menu-toggle {
        display: block;
    }

    .nav-bar ul li {
        margin: 0;
    }
}
